extends layout/layout.pug

block vars
	-
		var pageTitle = 'Корзина';
		var pageType = 'basket';

block content

	.basket_list
		.row
			.basket_item.col-12
				.title Длинное название какого-то красивого платья
				.good_item
					.good_preorder-progress
						.progress__bar
							.progress__bar-process
								.progress__bar-progress(style='width: 76%')
								.progress__bar-info.color_white
									span.title 76%