extends layout/layout.pug

block vars
	-
		var pageTitle = 'Каталог';
		var pageType = 'catalog';

block content
	.row
		- for (var i=1; i<=12; i++)
			.col-12.col-sm-6.col-md-4.col-lg-3
				a(href='/item.html').catalog_item
					h1 Длинное название какого-то красивого платья
					.good_item
						.good_preorder-progress
							.progress__collect
								.progress__collect-money Собрано: 
									strong 534&thinsp;454&nbsp;руб.  
								.progress__collect-bid 895 заявок
							.progress__bar
								.progress__bar-process
									.progress__bar-progress(style='width: 76%')
									.progress__bar-info.color_white
										span.title 76%
								.progress__bar-sales
									span 10% скидка
									span 20% скидка
							.progress__info
								.progress__info-progress 76 % от цели 773 400 р.
								.progress__info-sales
									span +20&thinsp;000&nbsp;руб. 
									span +30&thinsp;000&nbsp;руб. 

						.good_preorder-timer
							.timer-title До конца сбора:
							.timer-blocks
								.timer_block
									.timer_block-wrap
										span 0
										span 1
									| дни
								.timer_block
									.timer_block-wrap
										span 1
										span 4
									| дни
								.timer_block
									.timer_block-wrap
										span 5
										span 3
									| дни
								.timer_block
									.timer_block-wrap
										span 2
										span 5
									| дни