extends layout/layout.pug

block vars
	-
		var pageTitle = 'Карточка товара';
		var pageType = 'item';

block content

	.good_item
		h1 Длинное название какого-то красивого платья
		.row
			.good_item-pictures.col-12.col-md-6
			.good_item-about.col-12.col-md-6
				.good_preorder
					.good_preorder-progress
						.progress__collect
							.progress__collect-money Собрано: 
								strong 534&thinsp;454&nbsp;руб.  
							.progress__collect-bid 895 заявок
						.progress__bar
							.progress__bar-process
								.progress__bar-progress(style='width: 76%')
								.progress__bar-info.color_white
									span.title 76%
							.progress__bar-sales
								span 10% <br>скидка
								span 20% <br>скидка
						.progress__info
							.progress__info-progress 76 % от цели 773 400 р.
							.progress__info-sales
								span +20&thinsp;000&nbsp;руб. 
								span +30&thinsp;000&nbsp;руб. 

					.good_preorder-timer
						.timer-title До конца сбора:
						.timer-blocks
							.timer_block
								.timer_block-wrap
									span 0
									span 1
								| дни
							.timer_block
								.timer_block-wrap
									span 1
									span 4
								| дни
							.timer_block
								.timer_block-wrap
									span 5
									span 3
								| дни
							.timer_block
								.timer_block-wrap
									span 2
									span 5
								| дни