block vars
	- var pageTitle = '';

title=pageTitle + ' — UNIverse'

meta(charset='utf-8')

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=360, initial-scale=1, shrink-to-fit=no")

link(rel="shortcut icon", href="/images/favicon-big.png" type="image/png")
link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel='stylesheet')
link(href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')
link(href="/css/good_item.css?v={VERSION_REPlACE}", rel='stylesheet')

block head