header#header

-
	var pages = [
		{
			id: "catalog",
			href: "index.html",
			title: "Каталог",
		},
		{
			id: "item",
			href: "item.html",
			title: "Платье Partizia Pepe",
		},
		{
			id: "basket",
			href: "basket.html",
			title: "Корзина",
		},
	];

.container-fluid
	.breadcrumbs
		each menu in pages
			.breadcrumbs-item(class=(pageType === menu.id) ? 'active' : '')
				a(href=menu.href )
					=menu.title