.catalog_item {
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.33);
    min-height: 240px;
    display: block;
    color: $color-black;

    h1 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    a {
        color: $color-black;
    }

    img {
        height: 200px;
    }

    .good_item {
        .progress__collect {
            display: none !important;
        }

        .progress__info {
            display: none !important;
        }

        .good_preorder-progress {
            .progress__bar {
                .progress__bar-process {
                    display: block;
                    border-radius: 5px;

                    .progress__bar-info {
                        display: block;
                    }
                }

                .progress__bar-sales {
                    display: none !important;
                }
            }
        }

        .good_preorder-timer {
            display: none;
        }
    }


    &.hover,
    &:hover {
        color: $color-black;
        text-decoration: none;

        .good_preorder-timer {
            display: block;
        }
    }
}

.good_item {

    h1 {
        margin-bottom: 20px;
    }

    .good_preorder-progress {
        font-size: 16px;

        .progress__collect {
            overflow: hidden;

            .progress__collect-money {
                float: left;
            }

            .progress__collect-bid {
                float: right;
            }
        }

        .progress__bar {
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            background: none;
            display: flex;
            flex-wrap: wrap;
            flex-flow: row;
            font-size: 14px;
            line-height: 2;
            margin: 10px 0;

            .color_white {
                color: $color-white;
            }

            .progress__bar-process {
                flex: 1;
                position: relative;
                text-align: center;
                border: 1px solid $color-gray-light;
                border-radius: 5px 0 0 5px;

                .progress__bar-progress {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: $color-blue;
                    border-radius: 5px;
                }

                .progress__bar-info {
                    display: none;
                    position: relative;
                    font-size: 12px;
                    line-height: 2;
                    text-align: center;
                }
            }

            .progress__bar-sales {
                font-size: 10px;
                border: 1px dashed rgb(206, 214, 211);
                border-left: none;
                border-radius: 0 5px 5px 0;
                text-align: center;

                span {
                    border-right: 1px dashed rgb(206, 214, 211);
                    padding: 0 8px;
                    display: inline-block;
                    line-height: 1;
                    margin-top: 6px;

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        .progress__info {
            font-size: 13px;
            line-height: 1.4;

            .progress__info-progress {}

            .progress__info-sales {

                span {
                    display: block;
                }
            }
        }
    }

    .good_preorder-timer {
        overflow: hidden;
        text-align: center;
        margin-top: 12px;

        .timer-title {
            margin-bottom: 6px;
        }

        .timer-blocks {
            display: flex;
            flex-wrap: wrap;
            flex-flow: row;
            width: 240px;
            text-align: center;
            font-size: 11px;
            margin: auto;

            .timer_block {
                flex: 1;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                .timer_block-wrap {
                    display: block;
                    border: 1px solid $color-gray-light;
                    border-radius: 8px;
                    background-color: rgb(251, 251, 251);
                    box-shadow: inset 1px 1.732px 6px 0px rgba(0, 0, 0, 0.1);
                    font-weight: bold;
                    overflow: hidden;
                    font-size: 23px;

                    span {
                        display: block;
                        border-right: 1px solid $color-gray-light;

                        float: left;
                        width: 50%;

                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
}

.basket_item {
    .good_item {

        .good_preorder-progress {

            .progress__bar {
                .progress__bar-process {
                    .progress__bar-info {
                        display: block;
                    }
                }
            }
        }
    }
}

@include min_width(576) {
    .good_item {

        .good_preorder-progress {
            font-size: 16px;

            .progress__bar {

                border-radius: 0;

                .progress__bar-sales {
                    font-size: 14px;
                    width: 230px;
                    text-align: center;
                    overflow: hidden;

                    span {
                        display: block;
                        float: left;
                        width: 50%;
                        line-height: 2;
                        margin-top: 0;

                        br {
                            display: none;
                        }
                    }
                }
            }

            .progress__info {
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                line-height: 1;

                .progress__info-progress {
                    flex: 1;
                    border: 1px solid transparent;
                }

                .progress__info-sales {
                    width: 230px;
                    overflow: hidden;
                    text-align: center;

                    span {
                        padding: 0 8px;
                        display: block;
                        float: left;
                        width: 50%;
                    }
                }
            }
        }

        .good_preorder-timer {

            .timer-title {
                float: left;
                margin-top: 6px;
                margin-right: 40px;
            }

            .timer-blocks {
                margin: 0;
                float: left;
            }
        }
    }
}