.breadcrumbs {
    font-size: 14px;
    overflow: hidden;
    padding: 15px 0;

    .breadcrumbs-item {
        padding-top: 10px;
        float: left;

        padding-top: 10px;
        padding-right: 10px;

        &:after {
            content: '/';
            padding-left: 10px;
            float: right;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        a {
            color: $color-gray;
        }

        &.active {
            a {
                color: $color-blue;
            }
        }
    }
}