doctype html
html(lang='ru')
	head
		include ../partial/head.pug

	body
		include ../partial/header.pug

		main.container-fluid
			block content

		include ../partial/footer.pug

		script(src="/js/jquery-3.4.1.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
		script(src="/js/owl.carousel.min.js")
		script(src="/js/base.min.js?v={VERSION_REPlACE}")

		block scripts


	#gotoTop